{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-4">
    <div class="card shadow-sm rounded">
        <div class="card-header">
            <h4>KBO 리그 경기 일정</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped text-center align-middle">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>요일</th>
                        <th>시간</th>
                        <th>경기장</th>
                        <th>팀1</th>
                        <th></th>
                        <th>팀2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in schedules %}
                    <tr>
                        <td class="text-center">{{ game.month }}/{{ game.day }}</td>
                        <td class="text-center">{{ game.weekday }}</td>
                        <td class="text-center">{{ game.time }}</td>
                        <td class="text-center">{{ game.stadium }}</td>
                        <td class="text-end">
                            <strong>{{ game.team1 }}</strong>
                            <img src="{% static 'images/teams/' %}{{ game.team1 }}.png" style="width:35px;">
                        </td>
                        <td class="text-center">vs</td>
                        <td>
                            <img src="{% static 'images/teams/' %}{{ game.team2 }}.png" style="width:35px;">
                            {{ game.team2 }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">등록된 일정이 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}